<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Application</title>
    <link rel="stylesheet" href="../styles/styles.css">
  </head>
  <body>
    <div>
        <form action="/admin">
            <button type="submit">Admin Dashboard (Edit, Add, Delete Products)</button>
          </form>
        
      <h1>Welcome To Store Inventory Application !</h1>

      <% if (allProducts.length>0){%> <%allProducts.forEach(result=>{%>
      <div>
        <h2><%=result.item_name%></h2>
        <img src=<%=result.image_url %> alt="Product Image" height="250px" width="250px">
        <p><strong>Product ID: </strong><%=result.id%> </p>
        <p><strong>Category: </strong><%=result.category%> </p>
        <p><strong>Manufacturer:</strong> <%=result.manufacturer %></p>
        <p><strong>Model No: </strong><%=result.model_no %></p>
        <p><strong>Description:</strong> <%=result.product_description %></p>
        <p><a href=<%=result.external_product_url %> target="_blank">Amazon Product Info</a></p>
        
      </div>
      <%})%> <%}%>
    </div>
  </body>
</html>
