<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administration Console</title>
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>
  <body>
    <div>
      <form method="GET" action="/">
        <button type="submit">Home</button>
      </form>

      <form method="GET" action="/addproduct">
        <button type="submit">Add New Product</button>
      </form>
      <h1>Administration Dashboard (Add, update or delete products !)</h1>
    
      <% if (mainPageRenderView.length>0){%> <%mainPageRenderView.forEach(result=>{%>
        <div>
          <h2><%=result.item_name%></h2>
          <img src=<%=result.image_url %> alt="Product Image" height="250px" width="250px">
          <p><strong>Product ID: </strong><%=result.id%> </p>
          <p><strong>Category: </strong><%=result.category%> </p>
          <p><strong>Manufacturer:</strong> <%=result.manufacturer %></p>
          <p><strong>Model No: </strong><%=result.model_no %></p>
          <p><strong>Description:</strong> <%=result.product_description %></p>
          <p><a href=<%=result.external_product_url %> target="_blank">Amazon Product Info</a></p>

          <form action="<%= `editProduct/${result.id}` %>" method="GET">
            <button type="submit">Edit</button>
          </form>

          <form action="<%= `deleteProduct/${result.id}` %>"  method="PUT">
            <button type="submit">Delete</button>
          </form>
          
        </div>
        <%})%> <%}%>
    </div>
  </body>
</html>
